# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Test thing
test.bat
testd.bat
test.lua

# vscode thing
.vscode/
*.code-workspace

# Local History for Visual Studio Code
.history/